html, body {
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	height: 100%;
	background-image: url("../images/bg.png");
}

hr {
	background-color: grey; height: 2px; border: 0;
}

img {
    max-width: 300px;
    max-height: 400px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.caption {
    /* Make the caption a block so it occupies its own line. */
    display: block;
	font-size: 18px;
}

div.item {
    /* To correctly align image, regardless of content height: */
    vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
	width: 320px;
}